.home-main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.home-1{
    width: 100%;
    height: 60vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-2{
    width: 100%;
    height: 100vh;
    background-color: white;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-2-1{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.home-2-1-con{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50px;
}

.home-2 p{
    font-size: 20px;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.b-grad{
    width: 190px;
    height: 60px;
    border-radius: 35px;
    background: linear-gradient(45deg, red, yellow, green, rgb(160, 160, 251), #FFB37C);
    background-size: 400% 400%;
    animation: gradientChange 3s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes gradientChange {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home-2 button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: white;
    /* border: #FEB37C 3px solid; */
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;    
}
.home-2-p{
    width: 70%;
    text-align: center;
}

.home-1 h1{
    font-size: 100px;
}

.home-1 p{
    font-size: 20px;
    margin-top: -50px;
}

.home-1 span{
    background-color: #4AB552;
    border-radius: 20px;
    padding: 5px;
}


